@{
    Layout = "~/Views/Shared/Templet.cshtml";
    ViewBag.Title = "文本临时保存";
}
<style>
    body {
        max-width: none;
    }
</style>
<script>
    @{var _Key = Model == null ? "" : Model.ToString();}
    var Key = '@_Key';

    $(function () {
        $("#clear").click(function () { $("#content").val(""); });
        $("#getcontent").click(getcontent);
        $("#save").click(save);
        getcontent();
        @*@{
            if (Model == null)
            {
                @:getcontent();
            }
            else
            {
                @:$("#content").val(@Model.ToString());
            }
        }*@
    });

    var getcontent = function () {
        $(".qrcodebutton").attr("background", "#b8b8b8");
        var apiurl = "/api/tools/GetTempContent?Key=" + Key;
        $.when(ApliuCommon.HttpSend(apiurl)).then(function (rst) {
            if (rst.code == "0") {
                $("#content").val(decodeURI(rst.msg));
                if (rst.remark == null || rst.remark == "") { $("#updatetime").text("无"); }
                else { $("#updatetime").text(rst.remark); }
            } else {
                apliualert("恢复失败，详情：" + rst.msg);
            }
            $(".qrcodebutton").attr("background", "#ff463c");
        }, function (rst) {
            apliualert("发生未知异常");
            $(".qrcodebutton").attr("background", "#ff463c");
        });
    }
    var save = function () {
        var content = document.getElementById("content").value;
        if (content == null || content == "") {
            apliualert("请输入文本内容");
            return;
        }
        $(".qrcodebutton").attr("background", "#b8b8b8");
        var apiurl = "/api/tools/SetTempContent";
        var params = { Content: encodeURI(content), Key: Key };
        $.when(ApliuCommon.HttpSend(apiurl, ApliuCommon.getoptions("Post", params, false))).then(function (rst) {
            if (rst.code == "0") {
                apliualert("保存成功");
                getcontent();
            } else {
                apliualert("保存失败，详情：" + rst.msg);
            }
            $(".qrcodebutton").attr("background", "#ff463c");
        }, function (rst) {
            apliualert("发生未知异常");
            $(".qrcodebutton").attr("background", "#ff463c");
        });
    }
</script>

<div style="padding: 10px; background-color: white;">
    <div style="margin-top: 0px;text-align:center;">
        <span style="font-size:1rem;">文本临时内容</span>
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <textarea id="content" class="qrcodecontentinput" style="height:13rem;" placeholder="请输入文本内容"></textarea>

        <input id="clear" class="qrcodebutton" style="width:25%;max-width:5rem;" type="button" value="清空" />
        <input id="getcontent" class="qrcodebutton" style="width:25%;max-width:5rem;" type="button" value="恢复" />
        <input id="save" class="qrcodebutton" style="width:25%;max-width:5rem;" type="button" value="保存" />
    </div>
</div>
