.qrcodecontentinput {
    width: 95%;
    border: none;
    height: 1rem;
    line-height: 1rem;
    outline: none;
    font-size: .6rem;
    padding: .25rem 0;
    color: #656a73;
    background: #e4e4e6;
    display: block;
    resize: none;
    height: 6rem;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
}

.qrcodebutton {
    margin: 0 auto;
    margin-top: 10px;
    height: 1.2rem;
    width: 5rem;
    background: #ff463c;
    border: none;
    border-radius: .3rem;
    color: white;
    font-size: .6rem;
}

.Biaoqian {
    color: #ff463c;
}

body {
    font-family: 'microsoft yahei','华文细黑',Verdana,Arial,Helvetica,sans-serif;
}

a:hover{
    text-decoration:none
}

.loginwelcome {
    height: 1.5rem;
    padding: 0 1.5rem;
    line-height: 1.5rem;
    border: solid 1px #FFF;
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-top: 3rem;
    text-align: center;
    background-color: #fb4e3a;
    color: white;
    font-size: 0.7rem;
}



#css3tableflexible :after, #css3tableflexible thead:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#css3tableflexible {
    width: 100%;
    font-size: 0.5em; /*12*/
    line-height: 1em; /*15*/
    border-collapse: collapse;
    border-spacing: 0;
}

    #css3tableflexible th,
    #css3tableflexible td {
        margin: 0;
        padding: 0.2em; /*10*/
        vertical-align: top;
        border: 1px solid #babcbf;
        background: #fff;
    }

    #css3tableflexible th {
        text-align: center;
        background: #fff2b2;
    }


@media only screen and (max-width: 20em) { /*640*/

    #css3tableflexible {
        display: block;
        position: relative;
        width: 100%;
    }

        #css3tableflexible thead {
            display: block;
            float: left;
        }

        #css3tableflexible tbody {
            display: -webkit-box;
            overflow-x: auto;
        }

        #css3tableflexible th,
        #css3tableflexible tr,
        #css3tableflexible td {
            display: block;
        }

        #css3tableflexible th {
            border-bottom: 0;
        }

        #css3tableflexible td {
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
        }

        #css3tableflexible tbody tr {
            border-right: 1px solid #babcbf;
        }

        #css3tableflexible th:last-child,
        #css3tableflexible td:last-child {
            border-bottom: 1px solid #babcbf;
        }
}

.regTop {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    background: #ffffff;
    text-align: center;
    position: relative;
}

.back {
    position: absolute;
    left: 0.3rem;
    color: #4d525d;
    text-decoration: none;
}

.common_a_calss {
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem;
    display: block;
    color: #ff463c;
}

.commonselect {
    height: 1.1rem;
    /*width: 5rem;*/
    border-radius: 5px;
    font-size: .6rem;
}
