@{
    Layout = "~/Views/Shared/Templet.cshtml";
    ViewBag.Title = "短信";
}

<script>
    var sendsms = function (type) {
        var content = document.getElementById("content").value;
        if (content == null || content == "") {
            apliualert($("#content").attr('placeholder'));
            return;
        }
        $(".qrcodebutton").attr("background", "#b8b8b8");
        var apiurl = content;
        $.when(ApliuCommon.HttpSend(apiurl, ApliuCommon.getoptions("Post", "", ""))).then(function (rst) {
            var data = "执行结果：" + rst.result + "\r\n返回码：" + rst.code + "\r\n返回信息：" + rst.msg;
            $("#executesqlresult").val(data);
            $(".qrcodebutton").attr("background", "#ff463c");
        }, function (rst) {
            var error = "执行结果：" + rst.result + "\r\n返回码：" + rst.code + "\r\n返回信息：" + rst.msg;
            $("#executesqlresult").val(error);
            $(".qrcodebutton").attr("background", "#ff463c");
        });
    }
</script>

<div style="padding: 10px; background-color: white;">
    <div style="margin-top: 30px;">
        <span class="Biaoqian">Api介绍</span><br />
        <div style="padding-left: 1rem; font-size: 0.7rem;">
            1.接口报文（地址）：<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;https://www.apliu.xyz/api/tools/sendsms?mobile=18111111111&smscontent=短信内容&smsappid=腾讯云短信应用ID&smsappkey=腾讯云短信应用秘钥 <br /><br />
            2.接口参数：<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
            3.接口说明：<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post方式提交<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;若需要使用Get方式，则调用/api/tools/sendsmget接口
        </div>
    </div>
    <div style="margin-top: 30px;">
        <span class="Biaoqian">演示Demo</span><br />
        <div style="margin-top: 10px; text-align: center;">
            <textarea id="content" class="qrcodecontentinput" placeholder="请输入接口报文"></textarea>
            <input onclick="sendsms()" class="qrcodebutton" type="button" value="发送短信" />
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <textarea id="executesqlresult" class="qrcodecontentinput" style="font-size: 0.5rem; height: 6rem;" placeholder="发送结果"></textarea>
        </div>
    </div>
</div>
