@{
    Layout = "~/Views/Shared/Templet.cshtml";
    ViewBag.Title = "SqlServer 数据库";
}

<script>
    var executesql = function (type) {
        var content = document.getElementById("coontent").value;
        if (content == null || content == "") {
            apliualert("请输入需要执行的Sql");
            return;
        }
        $(".qrcodebutton").attr("background", "#b8b8b8");
        var apiurl = "/api/tools/ExecuteSql?Sql=" + content + "&Type=" + type;
        $.when(ApliuCommon.HttpSend(apiurl)).then(function (rst) {
            var data;
            if (type == "Execute") {
                data = "执行结果：" + rst.result + "\r\n返回码：" + rst.code + "\r\n返回信息：" + rst.msg;
            } else if (type == "Query") {
                data = "执行结果：" + rst.result + "\r\n返回码：" + rst.code;
                if (rst.code >= 0) {
                    var tempth = "<th>{0}</th>";//$("#css3tableflexibleth").html();
                    var domth = [];

                    var temptbody = "<td>{0}</td>";//$("#css3tableflexibletbody").html();
                    var domtbody = [];

                    var json = JSON.parse(rst.msg);
                    for (var i = 0; i < json.length; i++) {
                        domtbody.push("<tr>");
                        for (var key in json[i]) {
                            if (i == 0) {
                                domth.push(tempth.format(key));
                            }
                            var value = (json[i][key] == null || json[i][key] == "") ? "　" : json[i][key];
                            domtbody.push(temptbody.format(value));
                        }
                        domtbody.push("</tr>");
                    }

                    $("#css3tableflexibleth").html(domth.join(""));
                    $("#css3tableflexibletbody").html(domtbody.join(""));
                    $("#css3tableflexible").css("display", "");
                }
            }
            $("#executesqlresult").val(data);
            $(".qrcodebutton").attr("background", "#ff463c");
        }, function (rst) {
            var error = "执行结果：" + rst.result + "\r\n返回码：" + rst.code + "\r\n返回信息：" + rst.msg;
            $("#executesqlresult").val(error);
            $(".qrcodebutton").attr("background", "#ff463c");
        });
    }
</script>

<div style="padding: 10px; background-color: white;">
    <div style="margin-top: 30px;">
        <span class="Biaoqian">Api介绍</span><br />
        <div style="padding-left: 1rem; font-size: 0.7rem;">
            1.接口地址：<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; https://www.apliu.xyz/api/tools/executedatabsesql?source=127SS&userid=sa&password=1&database=test&sql=sql
            <br />
            2.接口参数：<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. source -> 数据库地址以及实例名<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. userid -> 数据库登录用户名<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. password -> 数据库登录用户密码<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. database -> 数据库名称<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e. sql  -> 具体需要执行的sql语句<br />
            3.接口说明：<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Get方式<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. 目前仅支持Sql Server、MySql(默认)、Oracle<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. 更新则返回是否成功以及更新条数<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. 查询则返回查询结果，仅返回一个DataTable<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. 返回结果为json字符串<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;result 执行结果<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code   返回代码<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;msg    返回结果<br />
        </div>
    </div>
    <div style="margin-top: 30px;">
        <span class="Biaoqian">演示Demo</span><br />
        <div style="margin-top: 10px; text-align: center;">
            <textarea id="coontent" class="qrcodecontentinput" placeholder="请输入Sql 语句"></textarea>
            <input onclick="executesql('Query')" class="qrcodebutton" type="button" value="执行Sql-Query" />
            <input onclick="executesql('Execute')" class="qrcodebutton" type="button" value="执行Sql-Execute" />
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <textarea id="executesqlresult" class="qrcodecontentinput" style="font-size: 0.5rem; height: 6rem;" placeholder="执行结果"></textarea>
        </div>
        <div style="text-align: center; margin-top: 20px;">
            <table id="css3tableflexible" style="margin: 0 auto; display: none;">
                <thead>
                    <tr id="css3tableflexibleth">
                        <th>{0}</th>
                    </tr>
                </thead>
                <tbody id="css3tableflexibletbody">
                <td>{0}</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
