<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- This section contains the log4net configuration settings -->
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout" value="%date [%thread] %-5level %logger ： %message%newline" />
		</appender>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file type="log4net.Util.PatternString" value="logs/%date{yyyy-MM-dd}.log" />
			<appendToFile value="true" />
			<encoding value="utf-8" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level - %message%newline" />
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--日志的路径-->
			<file value="logs/" />
			<!--是否覆盖，默认是追加true-->
			<appendToFile value="true" />
			<!--滚动规则：Composite为混合模式，本例中将以日期维度和文件大小的维度生成日志文件（即若单个文件大小达到了100MB会备份当前文件到历史并生成新的文件；若日期为第二天也会备份并生成新的文件）-->
			<rollingStyle value="Composite" />
			<staticLogFileName value="false" />
			<!--文件名称-->
			<datePattern value="yyyy-MM-dd'.log'" />
			<!--设置无限备份=-1-->
			<maxSizeRollBackups value="10" />
			<encoding value="utf-8" />
			<!--每个文件最大大小-->
			<maximumFileSize value="1MB" />
			<layout type="log4net.Layout.PatternLayout">
				<!--输出格式-->
				<conversionPattern value="%date [%thread] %-5level %logger ： %message%newline" />
			</layout>
		</appender>
		<root>
			<!-- Levels: ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
			<level value="ALL" />
			<!--<appender-ref ref="ConsoleAppender" />-->
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>