<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="application-name" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="version" content="ddtouch">
    <meta http-equiv="Cache-Control" content="must-revalidate,no-cache">
    <title>@ViewBag.Title</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/script/apliualert.js"></script>
    <script src="~/js/script/CommonJs.js"></script>
</head>

<body>
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jsscript")*@
    @RenderSection("scripts", required: false)
    @RenderBody()
</body>
</html>
